---
layout: page
title: Home
hero:
title: Welcome to :site!
subtitle: If you like rants and programming, you're gonna love it
---
<div class="grid md:grid-cols-2 gap-4 mt-4">
  <a href="/404" class="card flex flex-row justify-start items-center">
    <div class="bg-blue-400 text-white icon">{% include icons/beaker.svg %}</div>

    <div class="flex-1 pl-4">
      <h2 class="text-gray-700">View my projects</h2>
      <span class="text-gray-700">don't judge though</span>
    </div>
  </a>

  <a href="/posts/" class="card flex flex-row justify-start items-center">
    <div class="bg-yellow-400 text-white icon">
      {% include icons/terminal.svg %}
    </div>

    <div class="flex-1 pl-4">
      <h2 class="text-gray-700">Read about code</h2>
      <span class="text-gray-700">post quality not guaranteed</span>
    </div>
  </a>

  <a href="{{site.data.contact.github}}/nlsnightmare.github.io" target="_blank" rel="noopener"
    class="card flex flex-row justify-start items-center">
    <div class="bg-green-400 text-white icon">
      {% include icons/code.svg %}
    </div>

    <div class="flex-1 pl-4">
      <h2 class="text-gray-700">View the source</h2>
      <span class="text-gray-700">not sure why you'd want to</span>
    </div>
  </a>

  <a href="/rants/latest" class="card flex flex-row justify-start items-center">
    <div class="flex flex-row justify-start items-center">
      <div class="bg-red-400 text-white icon">
        {% include icons/shield-exclamation.svg %}
      </div>

      <div class="flex-1 pl-4">
        <h2 class="text-gray-700">Latest rant</h2>
        <span class="text-gray-700">because ranting is fun!</span>
      </div>
    </div>

  </a>
</div>

{% assign post = site.posts.first %}
<a href="{{ post.url }}" class="mt-4 card flex flex-row justify-start items-center">
  <div class="flex flex-row justify-start">
    <div class="bg-gray-400 text-white icon">
      {% include icons/link.svg %}
    </div>

    <div class="flex-1 pl-4">
      <h2 class="text-gray-700">
        <span class="font-normal">Latest Post:</span>
        {{ post.title }}
      </h2>
      <span class="text-gray-700">{{ post.excerpt }}</span>
    </div>
  </div>

</a>