<nav class="flex flex-col flex-wrap justify-between py-3 responsive xs:flex-row text-xl">
    <div class="flex-1 font-bold xs:text-left text-2xl text-center text-white">
        <a href="/">{{ site.data.contact.sitename }}</a>
    </div>

    <div class="flex flex-col xs:flex-row">
        {% for item in site.data.navigation %}

        {% assign show = (page.url | starts_with: item.name) %}

        {% if show == true %}
            {% assign color = 'bg-purple-500' %}
        {% else %} 
            {% assign color = '' %}
        {% endif %} 


        <a href="{{ item.link }}" class="text-center {{color}} text-gray-200 hover:bg-purple-400 px-2 py-2 ml-2">
            {{ item.name }}
        </a>
        {% endfor %}
    </div>
</nav>